<div class="contents">
  <h2>コメントを編集する</h2>
  <%= form_for( [@tweet, @comment], id: "new_comment" ) do |f| %>
    <%= image_tag  current_user.avatar ,class:"new-edit_avatar"%>
    <%= f.text_area :text, placeholder: "text" %>
    <%= f.submit "送信" ,class:"button-box"%>
  <% end %>
</div>
