<div class="contents">
  <h2>投稿する</h2>
  <%= form_for (@tweet) do |f| %>
  <%= image_tag 'Githubのキャラクター.png' %>
    <%= f.text_area :text, placeholder: "text" %>
  <div class="button-box">
    <%= f.submit "送信"%>
  </div>  
  <% end %>
</div>

