<div class="contents">
  <p class="tweets-user-name"><%= @name %>さんの投稿一覧</p>
<% if @tweets != [] %>
  <%= render "shared/tweet" %>
  <%= paginate(@tweets) %>
<% else %>
  <div class="user-nothing-tweets">
  <%= @name %>さんの投稿はありません。
  </div>
<% end %>
</div>
